body{ /* keeps the screen from resizing and scrolling with all the elements raining down */
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container{ /* flex box container with width and Height */
    display:flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    
}

#title{
    display: flex;
    align-content: center;
    position: absolute;
    font-size: 3rem;
}

#toggle{
    display: flex;
    align-content: center;
    position: absolute;
    margin-top: 30vh;
}

a{
    text-decoration: none;
    padding: 1rem;
    font-size: 2rem;
    color: inherit;
}

#directions{
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 50vh;
    width: 70vw;
}

p{
text-align: center;
font-size: 1.5rem;
/* padding-left: 2rem; */
padding-right: 2rem;
}

#clock{
    display:flex;
    align-items: center;
    justify-content: center; 
    position: absolute; 
    height: 3rem;
    width: 6rem;
    font-weight: bold;
    background-color: inherit;
    margin-top: 10rem;
}

#countDown{
    text-align: center;
    color: red;
    font-size: 1.5rem;
}

#scores{ /* overall flex for the scores to keep them centered of all the content */
    display:flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}

#scoreBox1{ /* flex box with positioning on the page */
    display: flex;
    align-items: center;
    height: 6rem;
    width: 6rem;
}

#player1Score{ /* player 1 name score styling */
    text-align: center;
    height: 3rem;
    top: 3rem;
    font-weight: bold;
    color:red;
    font-size: 1.5rem;
}

#startingScore{ /* score styling */
    padding-top: .5rem;
    color: red;
    font-weight: bold;
}

#scoreBox2{ /* flex box with positioning on the page */
    display: flex;
    align-items: center;
    height: 6rem;
    width: 6rem;
}

#player2Score{ /* player 2 name score styling */
    text-align: center;
    height: 3rem;
    top: 3rem;
    font-weight: bold;
    color:red;
    font-size: 1.5rem;
}

#startingScore2{ /* flex box with positioning on the page */
    padding-top: .5rem;
    color: red;
    font-weight: bold;
}

.rightArrows{ /* arrow positioning and styling */
    height: 75px;
    position: absolute;
    top: -200px;
    left: 25%;
}

.upArrows{ /* arrow positioning and styling */
    height: 75px;
    position: absolute;
    top: -200px;
    left: 15%;
}

.leftArrows{ /* arrow positioning and styling */
    height: 75px;
    position: absolute;
    top: -200px;
    left: 5%;
}

#box1{ /* click box area position and styling */
    display:flex;
    position: absolute;
    border-color:100px solid black;
    outline-style: solid;
    outline-color: red;
    height: 5rem;
    width: 5rem;
    margin-top: 60vh;
    left: 5%
}

#box2{ /* click box area position and styling */
    display:flex;
    position: absolute;
    border-color:100px solid black;
    outline-style: solid;
    outline-color: red;
    height: 5rem;
    width: 5rem;
    margin-top: 60vh;
    left:15%
}

#box3{ /* click box area position and styling */
    display:flex;
    position: absolute;
    border-color:100px solid black;
    outline-style: solid;
    outline-color: red;
    height: 5rem;
    width: 5rem;
    margin-top: 60vh;
    left: 25%;
}

.p2RightArrows{ /* arrow positioning and styling */
    height: 75px;
    position: absolute;
    top: -200px;
    right: 5%;
}

.p2UpArrows{ /* arrow positioning and styling */
    height: 75px;
    position: absolute;
    top: -200px;
    right: 15%
}

.p2LeftArrows{ /* arrow positioning and styling */
    height: 75px;
    position: absolute;
    top: -200px;
    right: 25%;
}

#box4{ /* click box area position and styling */
    display:flex;
    position: absolute;
    border-color:100px solid black;
    outline-style: solid;
    outline-color: red;
    height: 5rem;
    width: 5rem;
    margin-top: 60vh;
    right:5%;
}

#box5{ /* click box area position and styling */
    display:flex;
    position: absolute;
    border-color:100px solid black;
    outline-style: solid;
    outline-color: red;
    height: 5rem;
    width: 5rem;
    margin-top: 60vh;
    right:15%;
}

#box6{ /* click box area position and styling */
    display:flex;
    position: absolute;
    border-color:100px solid black;
    outline-style: solid;
    outline-color: red;
    height: 5rem;
    width: 5rem;
    margin-top: 60vh;
    right: 25%;
}

input{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 5rem;
    width: 8rem;
    bottom: 2rem;
}

video{
    object-fit: cover;
    position: absolute;
    z-index: -3;
}