body{ /* keeps the screen from resizing and scrolling with all the elements raining down */
    margin: 0;
    overflow-x: hidden;
}
#container{ /* flex box container with width and Height */
    display:flex;
    height: 100vh;
    width: 100vw;
    
}

#scores{ /* overall flex for the scores to keep them centered of all the content */
    display:flex;
    justify-content: center;
}

#scoreBox1{ /* flex box with positioning on the page */
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 40%;
    flex-wrap: wrap;
    height: 6rem;
    width: 6rem;
    background-color: black;
}

#player1Score{ /* player 1 name score styling */
    text-align: center;
    height: 3rem;
    top: 3rem;
    font-weight: bold;
    color:white;
}

#startingScore{ /* score styling */
    padding-top: .5rem;
    color: red;
    font-weight: bold;
}

#scoreBox2{ /* flex box with positioning on the page */
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    right: 40%;
    height: 6rem;
    width: 6rem;
    background-color: black;
}

#player2Score{ /* player 2 name score styling */
    text-align: center;
    height: 3rem;
    top: 3rem;
    font-weight: bold;
    color:white;
}

#startingScore2{ /* flex box with positioning on the page */
    padding-top: .5rem;
    color: red;
    font-weight: bold;
}

.rightArrows{ /* arrow positioning and styling */
    height: 75px;
    position: absolute;
    top: -200px;
    left: 25%;
}

.upArrows{ /* arrow positioning and styling */
    height: 75px;
    position: absolute;
    top: -200px;
    left: 15%;
}

.leftArrows{ /* arrow positioning and styling */
    height: 75px;
    position: absolute;
    top: -200px;
    left: 5%;
}

#box1{ /* click box area position and styling */
    display:flex;
    position: absolute;
    border-color:black;
    background:red;
    height: 5rem;
    width: 5rem;
    margin-top: 60vh;
    left: 5%
}

#box2{ /* click box area position and styling */
    display:flex;
    position: absolute;
    border-color:black;
    background:red;
    height: 5rem;
    width: 5rem;
    margin-top: 60vh;
    left:15%
}

#box3{ /* click box area position and styling */
    display:flex;
    position: absolute;
    border-color:black;
    background:red;
    height: 5rem;
    width: 5rem;
    margin-top: 60vh;
    left: 25%;
}

.p2RightArrows{ /* arrow positioning and styling */
    height: 75px;
    position: absolute;
    top: -200px;
    right: 5%;
}

.p2UpArrows{ /* arrow positioning and styling */
    height: 75px;
    position: absolute;
    top: -200px;
    right: 15%
}

.p2LeftArrows{ /* arrow positioning and styling */
    height: 75px;
    position: absolute;
    top: -200px;
    right: 5%;
}

#box4{ /* click box area position and styling */
    display:flex;
    position: absolute;
    border-color:black;
    background:red;
    height: 5rem;
    width: 5rem;
    margin-top: 60vh;
    right:5%;
}

#box5{ /* click box area position and styling */
    display:flex;
    position: absolute;
    border-color:black;
    background:red;
    height: 5rem;
    width: 5rem;
    margin-top: 60vh;
    right:15%;
}

#box6{ /* click box area position and styling */
    display:flex;
    position: absolute;
    border-color:black;
    background:red;
    height: 5rem;
    width: 5rem;
    margin-top: 60vh;
    right: 25%;
}