body{
    margin: 0;
    /* overflow-y: hidden; */
    overflow-x: hidden;
}
#container{
    height: 100vh;
    width: 100vw;
    
}

#scoreBox1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 7rem;
    width: 7rem;
    position: absolute;
    background-color: black;
    left: 40%;
}

#player1Score{
    text-align: center;
    height: 3rem;
    top: 3rem;
    font-weight: bold;
    color:white;
}

#startingScore{
    color: red;
    font-weight: bold;
}

#scoreBox2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 7rem;
    width: 7rem;
    position: absolute;
    background-color: black;
    left: 55%;
}

#player2Score{
    text-align: center;
    height: 3rem;
    top: 3rem;
    font-weight: bold;
    color:white;
}

#startingScore2{
    color: red;
    font-weight: bold;
}

.rightArrows{
    height: 75px;
    position: absolute;
    top: -200px;
    left: 25%;
}

.upArrows{
    height: 75px;
    position: absolute;
    top: -200px;
    left: 15%;
}

.leftArrows{
    height: 75px;
    position: absolute;
    top: -200px;
    left: 5%;
}

#box1{
    display:flex;
    position: absolute;
    border-color:black;
    background:red;
    height: 5rem;
    width: 5rem;
    margin-top: 60vh;
    left: 5%
}

#box2{
    display:flex;
    position: absolute;
    border-color:black;
    background:red;
    height: 5rem;
    width: 5rem;
    margin-top: 60vh;
    left:15%
}

#box3{
    display:flex;
    position: absolute;
    border-color:black;
    background:red;
    height: 5rem;
    width: 5rem;
    margin-top: 60vh;
    left: 25%;
}

#box4{
    display:flex;
    position: absolute;
    border-color:black;
    background:red;
    height: 5rem;
    width: 5rem;
    margin-top: 60vh;
    left:90%;
}

#box5{
    display:flex;
    position: absolute;
    border-color:black;
    background:red;
    height: 5rem;
    width: 5rem;
    margin-top: 60vh;
    left:80%
}

#box6{
    display:flex;
    position: absolute;
    border-color:black;
    background:red;
    height: 5rem;
    width: 5rem;
    margin-top: 60vh;
    left: 70%;
}